# plots
*.pdf
*.png
*.gif
*.mp4


#stored objects
*.pkl
*.pickle
*.zip
*.7z

#data
*.csv
*.txt
*.json
*.xlsx
# Reinclude the .json in "scripts" so that the run_dict stay saved for later reevaluation
!scripts/*.json

#vscode
.vscode
__pycache__
*.code-workspace
